/* Custom styles for skill icons */
.skill-icon {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.skill-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

/* Contact icons */
.contact-icon {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.contact-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}